{% extends 'admin/base.html.twig' %}


{% block title %}Page Accueil{% endblock %}

{% block description %}Représente la première page de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre accueil à bien été mis à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            <p>Vous pouvez modifier les éléments de votre page d'accueil</p>

            <div class="col-sm-12 form-group">
                {{ form_label(form.mainPicture, null, {'label_attr':{'class':'control-label'}}) }}
                {{ form_widget(form.mainPicture, {'attr':{'class':'form-control input-lg'}}) }}
            </div>
            <div class="col-sm-9 form-group pull-left">
                {{ form_label(form.content) }}
            </div>
            <div class="col-sm-3 pull-right text-right">
                <button id="demo-edit-text" class="btn btn-primary" type="button">Modifier</button>
                <button id="demo-test-text" class="btn btn-primary" type="button" style="display: none">Tester</button>
            </div>


            <!--Summernote-->
            <!--===================================================-->
            <div class="col-sm-12">
                <div id="summernote-edit">
                    {{ site.home.content | raw }}
                </div>
            </div>
            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/plugins/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        const originalContent = $('#home_originalContent');
        const itemContent = $('#home_content');
    </script>
    <script src="{{ asset('assets/js/demo/form-text-editor.js') }}"></script>
{% endblock %}