{% extends 'admin/base.html.twig' %}


{% block title %}Page Blog{% endblock %}

{% block description %}Représente la page Blog de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="tab-base">
        <!--Nav Tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#contenu" aria-expanded="true"><i class="fa fa-edit"></i> Contenu</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#post" aria-expanded="false"><i class="fa fa-comment-o"></i> Mes articles</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#structure" aria-expanded="false"><i class="fa fa-sitemap"></i> Structure</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#referencement" aria-expanded="false"><i class="fa fa-crosshairs"></i> Référencement (SEO)</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="contenu" class="tab-pane fade active in">

                <div class="panel" style="display: flow-root;">

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Contenu de la page</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div>
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>

            </div>
            <div id="post" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h2 class="panel-title">Mes articles</h2>
                        </div>
                        <div class="panel-body">
                            <div id="page-content">
                                <div style="text-align: right;">
                                    <a href="{{ path('bo-type-post-add', {id: page.id}) }}">
                                        <button id="demo-edit-text" class="btn btn-primary" type="button"><i class="fa fa-paint-brush"></i> Ajouter un article</button>
                                    </a>
                                </div>
                                <div class="panel">
                                    <div class="panel-body">
                                        <table id="demo-dt-basic" style="text-align: center;" class="table table-striped table-bordered table-vcenter" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th style="text-align: center;width:80px;"></th>
                                                <th style="text-align: center;">Titre</th>
                                                <th style="text-align: center;">Introduction</th>
                                                <th style="text-align: center;">Date de création</th>
                                                <th style="text-align: center;">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if posts|length > 0 %}
                                                {% for post in posts %}
                                                    <tr>
                                                        <td>
                                                            {% if post.image is defined and post.image is not null %}
                                                                <img class="img-responsive img-sm" style="display: unset;width:60%;" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('logo') }}" alt="{{ post.title }}">
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ post.title }}</td>
                                                        <td>{{ post.introduction }}</td>
                                                        <td>{{ post.creationDate|date('d/m/Y') }}</td>
                                                        <td width="300px">
                                                            <a href="{{ path('bo-type-post-edit', {id: post.id, idPage: page.id}) }}"><button class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> Modifier</button></a>
                                                            <a href="{{ path('bo-type-post-remove', {id: post.id, idPage: page.id}) }}"><button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">Aucun article</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="structure" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Nom de la page</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Template</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {{ form_widget(form.template, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Affichage dans les menus</label></h3>
                        </div>
                        <div class="panel-body" id="seo-home">
                            <div class="col-sm-12">
                                {{ form_label(form.displayMenuHeader) }}
                                {{ form_widget(form.displayMenuHeader, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_label(form.displayMenuFooter) }}
                                {{ form_widget(form.displayMenuFooter, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
            <div id="referencement" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Référencement (SEO)</label></h3>
                        </div>
                        <div class="panel-body" id="seo-home">
                            <div class="col-sm-12">
                                <label class="control-label" style="text-align:left;">{{ form_label(form.seoTitle) }}</label>
                                <div>
                                    {{ form_widget(form.seoTitle, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescription) }}</label>
                                <div>
                                    {{ form_widget(form.seoDescription, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: right;">
        <button data-target="#demo-default-modal" data-toggle="modal" class="btn btn-danger mt20 mr10 mb10" style="text-align: right;">Supprimer la page</button>
    </div>
    <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Supprimer la page</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer la page ?</p>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                    <a href="{{ path('bo-page-remove', { 'id': page.id }) }}" id="form-revert" class="btn btn-primary" type="button">
                        Oui
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/tables-datatables.js') }}"></script>
{% endblock %}