{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} - {{site.blog.seoTitle}}{% endblock %}
{% block description %}{{site.blog.seoDescription}}{% endblock %}

{% block blogActive %}active{% endblock %}

{% block body %}
    {% if site.home.mainPicture is defined and site.home.mainPicture is not null %}
<div class="heads"
     style="background: url({{ vich_uploader_asset(site.home, 'mainPictureFile') | imagine_filter('post_picture') }}) center center;">
    {% else %}
    <div class="heads"
         style="background: url({{ asset('templates/template-3/assets/images/sample.jpg') }}) center center;">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ site.blog.seoTitle }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row blog">
                <div class="col-sm-12">
                    {% if posts|length > 0 %}
                        {% set siteName = site.name|param(app.request.server.get('REQUEST_URI')) %}
                        {% for post in posts %}
                            {% set siteName = siteName|merge({'post':post.id}) %}
                            <div class="row blog-post">
                                <div class="col-md-12">
                                    <h2>
								<span class="the-calendar">
									<span class="the-date">
                                        <i class="fa fa-calendar"></i>
                                        <br/>
                                        {{ post.creationDate | date('d/m') }}
                                        <br/>
                                        {{ post.creationDate | date('Y') }}
                                    </span>
								</span>
                                        <a href="{{ path('blog_detail'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                            {{ post.title }}
                                        </a>
                                    </h2>
                                    <hr>
                                    <p>{{ post.introduction }}</p>
                                    <p>
                                        <a class="btn btn-izibrick" href="{{ path('blog_detail'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                            Voir plus &raquo;
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div style="margin-bottom:20px;">Aucun article n'a été publié.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
