{% extends 'bo/base.html.twig' %}

{% block title %}Création de votre projet | Etape 1{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/unitegallery/css/unitegallery.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div id="page-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel">
                    <div class="panel-body">

                        <div id="wizard">
                            {% include 'bo/order/wizard.html.twig' with {'step': 1} %}
                            <!--First tab-->
                            <div id="wizard-tab1" class="tab-pane">
                                {{ form_start(form, {'attr':{'method':'post', 'action': path('order', {'product': product.id }),'class':'form-horizontal'}}) }}
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <div class="pull-left text-3x">Site {{ product.name }}</div>

                                        {% if not product.codePromotion %}
                                            <div class="pull-right bloc-price">A partir de <br/><span
                                                        class="price text-2x">{{ product.price }}€</span>/mois
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if not product.codePromotion %}
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group mar-btm">
                                                {{ form_widget(form.codePromo, {'attr':{'class':'form-control input-md', 'placeholder':'Code promotion'}}) }}
                                                <span class="input-group-btn">
                                                                <button id="codePromoBtn" type="submit"
                                                                        class="btn btn-mint btn-md">OK !</button>
                                                            </span>
                                            </div>
                                            <div class="form-errors">
                                                {{ form_errors(form.codePromo) }}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-3">
                                        <div class="pull-right bloc-price">A partir de <br/><span
                                                    class="price text-2x">{{ product.price }}€</span>/mois
                                        </div>
                                        {{ form_widget(form.codePromo, {'attr':{'class':'hidden'}}) }}
                                    </div>
                                {% endif %}
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.name, null, {'label_attr':{'class':'control-label'}}) }}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control input-lg'}}) }}
                                </div>
                                <div class="col-sm-12 form-errors">
                                    {{ form_errors(form.name) }}
                                </div>

                                <div class="col-sm-9 form-group">
                                    {{ form_label(form.colorTheme, null, {'label_attr':{'class':'control-label'}}) }}
                                    {{ form_widget(form.colorTheme, {'attr':{'class':'form-control input-lg'}}) }}
                                </div>
                                <div class="col-sm-3 form-group pull-right margin-right-10">
                                    {{ form_label(form.colorThemeRgb, null, {'label_attr':{'class':'control-label'}}) }}
                                    {{ form_widget(form.colorThemeRgb, {'attr':{'class':'form-control input-lg'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.template, null, {'label_attr':{'class':'control-label'}}) }}
                                    <span class="form-errors">{{ form_errors(form.template) }}</span>
                                    <div class="panel">
                                        <div class="pad-all">
                                            <div id="demo-gallery-2" style="display:none;">
                                                {% for template in templates %}
                                                    <a href="#{{ template.id }}" id="template_{{ template.id }}">
                                                        <img alt="{{ template.name }}"
                                                             src="{{ asset('templates/template-' ~ template.id ~ '/sticker.png') }}"
                                                             data-description="{{ template.description }}"
                                                             style="display:none">
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.logo, null, {'label_attr':{'class':'control-label'}}) }}
                                    {{ form_widget(form.logo, {'attr':{'class':'form-control input-lg'}}) }}
                                </div>

                                <div class="col-sm-12 form-group text-right">
                                    <button type="submit" class="btn btn-mint btn-lg">Suivant</button>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                    <!--===================================================-->
                    <!-- End Form wizard with Validation -->

                </div>


            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/plugins/unitegallery/js/unitegallery.js') }}"></script>
        <script src="{{ asset('assets/plugins/unitegallery/themes/tilesgrid/ug-theme-tilesgrid.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#codePromoBtn').on('click', function (e) {
                    if ($('#add_order_codePromo').val() !== '') {
                        $('#add_order_hasCodePromo').val(1);
                    } else {
                        e.preventDefault();
                    }
                });
            });
            $(document).on('nifty.ready', function () {
                $("#demo-gallery-2").unitegallery({
                    grid_num_rows: 2,
                    tile_enable_border: false,
                    tile_enable_shadow: false,
                    theme_navigation_type: "arrows",
                    tile_enable_textpanel: true,
                    tile_textpanel_title_text_align: "center",
                    tile_textpanel_always_on: true,
                    tile_textpanel_bg_color: "#FFF",
                    tile_textpanel_bg_opacity: 1,
                    tile_textpanel_title_color: "grey",
                    tile_textpanel_title_bold: "normal",
                    tile_textpanel_position: "bottom",
                    tile_textpanel_css_title: {
                        "font-size": "12px",
                    },
                    tile_as_link: true,
                    tile_overlay_opacity: .4

                });

                $(".ug-thumb-wrapper.ug-tile").on('click', function (e) {
                    e.preventDefault();
                    $(".ug-thumb-wrapper.ug-tile").removeClass('selected');
                    $(this).addClass('selected');
                    $('#add_order_template').val($(this).attr('href').substr(1, $(this).attr('href').length));
                });

                $(".ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-link").on('click', function (e) {
                    e.preventDefault();
                });

                $("#add_order_colorTheme").on('change', function (e) {
                    $("#add_order_colorThemeRgb").val($(this).val());
                });

                $("#add_order_colorThemeRgb").on('change', function (e) {
                    $("#add_order_colorTheme").val($(this).val());
                });

                $("#add_order_colorThemeRgb").val($(this).val());

            });
        </script>
    {% endblock %}
