{% extends 'admin/base.html.twig' %}


{% block title %}Page Contact{% endblock %}

{% block description %}Visualiser la demande de prise de contact{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="panel">
        <div class="panel-body">
            <h4>Le {{ trackingContact.creationDate|date('d/m/Y') }}</h4>
            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title">Expéditeur
                    </h3>
                </div>
                <div class="panel-body">
                    <span class="bold">Nom :</span> {{ trackingContact.name }}<br/>
                    <span class="bold">Email :</span> {{ trackingContact.email }}
                </div>
            </div>
            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title">Message
                    </h3>
                </div>
                <div class="panel-body">
                    {{ trackingContact.content }}
                </div>
            </div>
            <div class="col-sm-12">
                <a href="{{ path('bo-tracking-contact') }}">
                    <button class="btn btn-danger pull-right margin-right-10" type="button">
                        Retour
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}