{% extends 'admin/base.html.twig' %}


{% block title %}Page Tarifs{% endblock %}

{% block description %}Représente les tarifs à afficher sur votre site de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Les modifications ont bien été prises en compte.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Catégories</label></h3>
                </div>
                <div class="panel-body">
                    <div style="text-align: right;margin-bottom:10px;">
                        <a href="{{ path('bo-pricing-category-add') }}">
                            <button id="demo-edit-text" class="btn btn-primary" type="button"><i class="fa fa-paint-brush"></i> Ajouter une catégorie</button>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <table id="demo-dt-basic" style="text-align: center;" class="table table-striped table-bordered table-vcenter" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="text-align: center;width:80px;">#</th>
                                <th style="text-align: center;">Label</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if categories is defined and categories|length > 0 %}
                                {% for category in categories %}
                                    <tr>
                                        <td>
                                            {{ category.id }}
                                        </td>
                                        <td>{{ category.name }}</td>
                                        <td width="300px">
                                            <a href="{{ path('bo-pricing-category-edit', {id: category.id}) }}"><button class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> Modifier</button></a>
                                            <a href="{{ path('bo-pricing-category-remove', {id: category.id}) }}"><button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun produit</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                    <div class="col-sm-12">
                        <a href="{{ path('bo-pricing') }}">
                            <button class="btn btn-danger pull-right mr10" type="button">
                                Annuler
                            </button>
                        </a>
                    </div>


                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/tables-datatables.js') }}"></script>
{% endblock %}