{% extends 'bo/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <div id="page-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel">
                    <div class="panel-body">
                        <div id="wizard">
                            {% include 'bo/order/wizard.html.twig' with {'step':3} %}
                            <div id="wizard-tab2" class="tab-pane">
                                {% if error is defined %}
                                    <div class="alert alert-danger">
                                        <strong>Aïe</strong> {{ error }} <a href="{{ path('fos_user_security_login') }}" class="alert-link">Connectez-vous</a>
                                    </div>

                                {% endif %}
                                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-group'}}) }}
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="pull-left text-3x">Votre site est prêt à être pris en charge. Créez
                                            votre compte
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        {{ form_label(form.firstname, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.firstname, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_label(form.lastname, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.lastname, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9 form-group">
                                        {{ form_label(form.email, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.email, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        {{ form_label(form.phone, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.phone, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        {{ form_label(form.plainPassword.first, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_label(form.plainPassword.second, null, {'label_attr':{'class':'control-label'}}) }}
                                        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <button class="btn btn-mint btn-lg" type="submit">S'inscrire</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
