<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>FireBrock | {% block title %}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/icon-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/icon-line/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/icon-etlinefont/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/icon-line-pro/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/icon-hs/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/dzsparallaxer/dzsparallaxer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/dzsparallaxer/dzsscroller/scroller.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/dzsparallaxer/advancedscroller/plugin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/fancybox/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/slick-carousel/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/typedjs/typed.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/hs-megamenu/src/hs.megamenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/vendor/hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/unify-core.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/unify-components.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/unify-globals.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/firebrock.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bo/css/blue.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<main>


    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Logo -->
                    <a href="{{ path('index') }}" class="navbar-brand">
                        <img src="{{ asset('assets/img/logo/logo-firebrock-mini.png') }}" alt="firebrock.com" style="width:60px;">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                         id="navBar">
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('index') }}" class="nav-link g-py-7 g-px-0">Accueil</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('features') }}" class="nav-link g-py-7 g-px-0">Fonctionnalités</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('price') }}" class="nav-link g-py-7 g-px-0">Tarifs</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('our-contact') }}" class="nav-link g-py-7 g-px-0">Contact</a>
                            </li>

                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                        <a class="btn u-btn-outline-firebrock g-font-size-13 text-uppercase g-py-10 g-px-15"
                           href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section>
        {% block body %}{% endblock %}
    </section>

    <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url({{ asset('templates/bo/img/pattern5.png') }});">
        <div class="d-md-flex justify-content-md-center text-center">
            <div class="align-self-md-center">
                <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">FireBrock - Votre site internet professionnel</p>
            </div>
            <div class="align-self-md-center">
                <a class="btn btn-lg u-btn-teal text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream">Je crée mon site</a>
            </div>
        </div>
    </section>

    <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
        <div class="container">
            <div class="row">
                <!-- Footer Content -->
                <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">FireBrock</h2>
                    </div>
                    <p>Créer votre site internet professionnel en quelques minutes.</p>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Liens utiles</h2>
                    </div>

                    <nav class="text-uppercase1">
                        <ul class="list-unstyled g-mt-minus-10 mb-0">
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('features') }}">Fonctionnalités</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('price') }}">Tarifs</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('our-contact') }}">Contact</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-lg-4 col-md-6">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nous contacter</h2>
                    </div>

                    <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url({{ asset('templates/bo/img/map2.png') }});">
                        <!-- Location -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-map-marker"></i>
                              </span>
                            </div>
                            <p class="mb-0">55 Rue Louis Lagorgette <br> 33150 Cenon</p>
                        </div>
                        <!-- End Location -->

                        <!--
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
                            </div>
                            <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
                        </div>
                        -->

                        <!-- Email and Website -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-globe"></i>
                              </span>
                            </div>
                            <p class="mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
                                <br>
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">www.htmlstream.com</a>
                            </p>
                        </div>
                        <!-- End Email and Website -->
                    </address>
                </div>
                <!-- End Footer Content -->
            </div>
        </div>
    </div>

    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 &copy; Tous droits réservés.</small>
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">FireBrock - Développé par <a href="https://www.ara-solutions.com" target="_blank">ARA Solutions</a></small>
                    </div>
                </div>

                <div class="col-md-4 align-self-center">
                    <!--
                    <ul class="list-inline text-center text-md-right mb-0">
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Facebook">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Linkedin">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Pinterest">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Dribbble">
                            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </footer>
    <!-- End Copyright Footer -->
    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<div class="u-outer-spaces-helper"></div>

<script src="{{ asset('assets/bo//vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bo//vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/popper.min.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/slick-carousel/slick/slick.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/fancybox/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('assets/bo/vendor/typedjs/typed.min.js') }}"></script>
<script src="{{ asset('assets/bo/js/hs.core.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/hs.carousel.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/hs.header.js') }}"></script>
<script src="{{ asset('assets/bo/js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/hs.tabs.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/hs.popup.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/text-animation/hs.text-slideshow.js') }}"></script>
<script src="{{ asset('assets/bo/js/components/hs.go-to.js') }}"></script>
<script src="{{ asset('assets/bo/js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
            strings: [
                "an awesome template",
                "perfect template",
                "just like a boss"
            ],
            typeSpeed: 60,
            loop: true,
            backDelay: 1500
        });
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
{% block javascripts %}{% endblock %}
</body>

</html>