{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} | Contact{% endblock %}

{% block contactActive %}active{% endblock %}

{% block body %}
    <section class="page-header parallax page-header-text-light page-header-crumbs-light-2 overlay overlay-color-dark overlay-show overlay-op-3 py-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{{ vich_uploader_asset(site.home, 'mainPictureFile') | imagine_filter('main_picture') }}">
        <div class="container py-9">
            <div class="row text-left">
                <div class="col-lg-12">
                    <p class="v-smash-text-large-2x">Contact</p>
                </div>
            </div>
        </div>
    </section>

    <div class="v-page-wrap no-top-spacing">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="v-comment-form">

                        <div class="v-heading-v2">
                            <h3>Demande d'informations</h3>
                        </div>

                        <p class="pull-bottom-small">
                            {{ contact.presentation }}
                        </p>


                        <form action="#" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Votre nom <span class="required">*</span></label>
                                        <input type="text" value="" maxlength="100" class="form-control" name="name"
                                               id="name">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Votre email <span class="required">*</span></label>
                                        <input type="email" value="" maxlength="100" class="form-control" name="email"
                                               id="email1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Votre message <span class="required">*</span></label>
                                        <textarea maxlength="5000" rows="10" class="form-control" name="comment"
                                                  id="Textarea1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button name="submit" type="submit" id="Button1"
                                            class="btn v-btn v-btn-default v-small-button"><i class="fa fa-send-o"></i>
                                        Envoyer le message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="v-heading-v2">
                        <h3>Adresse</h3>
                    </div>

                    <p>
                        {{ contact.name }}<br/>
                        {{ contact.postCode }} {{ contact.city }} {{ contact.country }}
                    </p>
                    <div class="v-heading-v2">
                        <h3>Téléphone & Email</h3>
                    </div>
                    <p>
                        Email: <a href="#" target="_blank">{{ contact.email }}</a><br/>
                        Phone: {{ contact.phone }}<br/>
                    </p>


                    <div class="v-heading-v2">
                        <h3>Horaires</h3>
                    </div>
                    <p>
                        {{ contact.openingTime }}
                    </p>


                    <div class="v-heading-v2">
                        <h3>Réseaux sociaux</h3>
                    </div>

                    <ul class="social-icons standard circle">
                        {% if site.twitter %}
                            <li class="twitter"><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if site.facebook %}
                            <li class="facebook"><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        {% endif %}
                        {% if site.instagram %}
                            <li class="instagram"><a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
