{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} - {{site.quote.seoTitle}}{% endblock %}
{% block description %}{{site.quote.seoDescription}}{% endblock %}

{% block devisActive %}active{% endblock %}

{% block body %}
    {% if site.home.mainPicture is defined and site.home.mainPicture is not null %}
<div class="heads"
     style="background: url({{ vich_uploader_asset(site.home, 'mainPictureFile') | imagine_filter('post_picture') }}) center center;">
    {% else %}
    <div class="heads"
         style="background: url({{ asset('templates/template-3/assets/images/sample.jpg') }}) center center;">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ site.quote.seoTitle }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            {% if success %}
                <div class="alert alert-success">
                    <div class="msg">
                        <strong>Merci!</strong> Votre demande de devis a bien été envoyée.
                    </div>
                </div>
            {% endif %}
            <div class="post-block-wrap" id="comment-area">
                <h3 class="v-heading"><span>Demander un devis</span></h3>
                <p>{{ quote.presentation }}</p>
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_label(form.name) }} <span class="required">*</span>
                            {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_label(form.email) }} <span class="required">*</span>
                            {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_label(form.content) }} <span class="required">*</span>
                            {{ form_widget(form.content, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button name="submit" type="submit" id="Button1" class="btn btn-izibrick btn-block btn-lg">
                            <i
                                    class="fa fa-send-o" aria-hidden="true"></i> Envoyer
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}
