{% extends 'admin/base.html.twig' %}


{% block title %}Page Référencement{% endblock %}

{% block description %}Représente la page contact de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Vos modifications ont bien été prises en compte.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <p class="bord-btm pad-ver text-main text-bold">Accueil</p>
            <div class="col-sm-12">
                <label class="control-label" style="text-align:left;">{{ form_label(form.seoTitleHome) }}</label>
                <div>
                    {{ form_widget(form.seoTitleHome, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12 mb20">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionHome) }}</label>
                <div>
                    {{ form_widget(form.seoDescriptionHome, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <p class="bord-btm pad-ver text-main text-bold">Présentation</p>
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitlePresentation) }}</label>
                <div>
                    {{ form_widget(form.seoTitlePresentation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12 mb20">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionPresentation) }}</label>
                <div>
                    {{ form_widget(form.seoDescriptionPresentation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <p class="bord-btm pad-ver text-main text-bold">Blog</p>
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleBlog) }}</label>
                <div>
                    {{ form_widget(form.seoTitleBlog, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12 mb20">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionBlog) }}</label>
                <div>
                    {{ form_widget(form.seoDescriptionBlog, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <p class="bord-btm pad-ver text-main text-bold">Devis</p>
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleQuote) }}</label>
                <div>
                    {{ form_widget(form.seoTitleQuote, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12 mb20">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionQuote) }}</label>
                <div>
                    {{ form_widget(form.seoDescriptionQuote, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <p class="bord-btm pad-ver text-main text-bold">Contact</p>
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleContact) }}</label>
                <div>
                    {{ form_widget(form.seoTitleContact, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12 mb20">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionContact) }}</label>
                <div>
                    {{ form_widget(form.seoDescriptionContact, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}