{% extends 'admin/base.html.twig' %}


{% block title %}Référencement{% endblock %}

{% block description %}Renseigner un titre et une description pour l'ensemble des pages de votre site afin d'optimiser votre référencement dans les moteurs de recherche{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Vos modifications ont bien été prises en compte.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Accueil</label></h3>
                </div>
                <div class="panel-body" id="seo-home">
                    <div class="col-sm-12">
                        <label class="control-label" style="text-align:left;">{{ form_label(form.seoTitleHome) }}</label>
                        <div>
                            {{ form_widget(form.seoTitleHome, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionHome) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionHome, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Présentation</label></h3>
                </div>
                <div class="panel-body" id="seo-presentation">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitlePresentation) }}</label>
                        <div>
                            {{ form_widget(form.seoTitlePresentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionPresentation) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionPresentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Blog</label></h3>
                </div>
                <div class="panel-body" id="seo-blog">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleBlog) }}</label>
                        <div>
                            {{ form_widget(form.seoTitleBlog, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionBlog) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionBlog, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Tarifs</label></h3>
                </div>
                <div class="panel-body" id="seo-pricing">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitlePricing) }}</label>
                        <div>
                            {{ form_widget(form.seoTitlePricing, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionPricing) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionPricing, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Devis</label></h3>
                </div>
                <div class="panel-body" id="seo-quote">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleQuote) }}</label>
                        <div>
                            {{ form_widget(form.seoTitleQuote, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionQuote) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionQuote, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Contact</label></h3>
                </div>
                <div class="panel-body" id="seo-contact">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoTitleContact) }}</label>
                        <div>
                            {{ form_widget(form.seoTitleContact, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescriptionContact) }}</label>
                        <div>
                            {{ form_widget(form.seoDescriptionContact, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right mr10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}