<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    {% if site.favicon %}
        <link rel="icon" type="image/png"
              href="{{ vich_uploader_asset(site, 'faviconFile') | imagine_filter('favicon') }}"/>
    {% else %}
        <link rel="icon" type="image/png" href="{{ asset('/assets/img/logo/favicon.png') }}"/>
    {% endif %}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie-fixes.js"></script>
    <link rel="stylesheet" href="css/ie-fixes.css">
    <![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ asset('templates/template-3/assets/css/revolution_settings.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/template-3/assets/css/bootstrap.css') }}">
    <link rel="stylesheet"
          href="{{ asset('templates/template-3/assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/template-3/assets/css/axfont.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/template-3/assets/css/tipsy.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/template-3/assets/css/prettyPhoto.css') }}">
    <link rel="stylesheet"
          href="{{ asset('templates/template-3/assets/css/isotop_animation.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/template-3/assets/css/animate.css') }}">
    <link href="{{ asset('templates/template-3/assets/css/style.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ asset('templates/template-3/assets/css/responsive.css') }}" rel='stylesheet'
          type='text/css'>
    <style type="text/css">
        :root {
            --colorTheme: {{ site.colorTheme }};
            --textColor: {{ site.textColor }};
            --headerTextColor: {{ site.lightTheme ? '#333' : 'white'  }};
            --headerBackgroundColor: {{ site.lightTheme ? 'white' : '#333'  }};
            --footerTextColor: {{ site.lightTheme ? '#333' : 'white'  }};
            --footerBackgroundColor: {{ site.lightTheme ? 'white' : '#333'  }};
        }
    </style>
    <!--[if lte IE 11]>
    <style type="text/css">
        ::selection {
            background: {{ site.colorTheme }} !important;
        }

        .navigation > li:hover > a,
        .navigation > li > a:hover,
        .navigation > li > .activelink {
            color: {{ site.colorTheme }} !important;
        }

        .navigation > li > a{
            color: {{ site.lightTheme ? '#333' : 'white'  }} !important;
        }

        .body-wrapper a:hover,
        .top-body a:hover,
        .top-footer a:hover {
            color: {{ site.colorTheme }} !important;
        }

        .blog-post-details-item.blog-post-details-item-right a:hover i {
            color: {{ site.colorTheme }} !important;
        }

        #header {
            background-color: {{ site.lightTheme ? 'white' : '#333'  }};
            color: {{ site.lightTheme ? '#333' : 'white'  }};
        }

        #footer {
            background: {{ site.lightTheme ? 'white' : '#333'  }};
            color: {{ site.lightTheme ? '#333' : 'white'  }} !important;
        }

        .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg, .content-box.content-style4 h4 i, button.button-main, .body-wrapper .tags a:hover, .callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
        .content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt {
            background-color: {{ site.colorTheme }} !important;
            color: {{ site.textColor }} !important;
        }

        .blog-post .blog-post-type {
            background-color: {{ site.colorTheme }} !important;
            color: {{ site.textColor }} !important;
        }


        .h1-page-title, .h2-page-desc {
            color: {{ site.textColor }} !important;
        }

        .btn, input[type="submit"], input[type="button"], button.btn, .btn-izibrick {
            background-color: {{ site.colorTheme }} !important;
            color: {{ site.textColor }} !important;
        }

        .copyright{
            background-color: {{ site.colorTheme }} !important;
        }
    </style>
    <![endif]-->
    <link href="{{ asset('templates/template-3/assets/css/izibrick.css') }}"
          rel='stylesheet' type='text/css' id="skin-file">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet'
          type='text/css'>

    <!--[if lt IE 9]>
    <script type="text/javascript"
            src="{{ asset('templates/template-3/assets/js/respond.js') }}"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">

    <div class="top_wrapper">

        <!-- Header -->
        <header id="header">
            <div class="container">

                {% set siteName = site.internalName|param(app.request.server.get('REQUEST_URI')) %}

                <div class="row header">

                    <!-- Logo -->
                    <div class="col-xs-4 logo">
                        <a href="{{ path('home'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                            {% if site.logo %}
                                <img alt="Logo {{ site.name }}" height="35"
                                     src="{{ vich_uploader_asset(site, 'logoFile') | imagine_filter('logo_template') }}"/>
                            {% else %}
                                <img alt="Logo {{ site.name }}" height="35"
                                     src="{{ asset('assets/img/logo_site_default.png') }}"/>
                            {% endif %}
                        </a>
                        {% if not site.nameInLogo %}
                            <span class="logo-title">{{ site.name }}</span>
                        {% endif %}
                    </div>
                    <!-- //Logo// -->


                    <!-- Navigation File -->
                    <div class="col-md-8">

                        <!-- Mobile Button Menu -->
                        <div class="mobile-menu-button">
                            <i class="fa fa-list-ul"></i>
                        </div>
                        <!-- //Mobile Button Menu// -->

                        <nav>
                            <ul class="navigation">
                                <li>
                                    <a class="{% block indexActive %}{% endblock %}"
                                       href="{{ path('home'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                        <span class="label-nav">
                                        Accueil
                                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="{% block presentationActive %}{% endblock %}"
                                       href="{{ path('presentation'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                        <span class="label-nav">
                                        Présentation
                                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="{% block blogActive %}{% endblock %}"
                                       href="{{ path('blog'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                        <span class="label-nav">
                                        Blog
                                                </span>
                                    </a>
                                </li>
                                {% if site.pricing.display == true %}
                                    <li>
                                        <a class="{% block tarifActive %}{% endblock %}"
                                           href="{{ path('tarif'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                        <span class="label-nav">
                                        Tarif
                                                </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if site.quote.display == true %}
                                    <li>
                                        <a class="{% block devisActive %}{% endblock %}"
                                           href="{{ path('devis'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                            <span class="label-nav">
                                            Devis
                                                    </span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="{% block contactActive %}{% endblock %}"
                                       href="{{ path('contact'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                        <span class="label-nav">
                                        Contact
                                                </span>
                                    </a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                    <!-- Nav -->

                </div>


            </div>
        </header>
    </div><!--.top wrapper end -->

    <div class="loading-container">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>


    <div class="content-wrapper hide-until-loading">
        {% block body %}    {% endblock %}
    </div><!--.content-wrapper end -->
    <footer>
        <div class="footer">

            <div class="container">
                <div class="footer-wrapper">
                    <div class="row">


                        <!-- Footer Col. -->
                        <div class="col-md-4 col-sm-4 footer-col">
                            <div class="footer-content">
                                <div class="footer-content-logo">
                                    {% if site.logo %}
                                        <img alt="Vertex" height="35"
                                             src="{{ vich_uploader_asset(site, 'logoFile') | imagine_filter('logo') }}"/>
                                    {% else %}
                                        <img alt="Vertex" height="35"
                                             src="{{ asset('assets/img/logo_site_default.png') }}"/>
                                    {% endif %}
                                </div>
                                <div class="footer-content-text">
                                    {% if not site.nameInLogo %}
                                        <p><strong>{{ site.name }}</strong></p>
                                    {% endif %}
                                    <p>{{ site.description | raw | nl2br }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- //Footer Col.// -->


                        <!-- Footer Col. -->
                        <div class="col-md-4 col-sm-4 footer-col">
                            <div class="footer-title">
                                Links
                            </div>
                            <div class="footer-content">
                                <ul class="footer-category-list">
                                    <li>
                                        <a href="{{ path('home'|route(app.request.server.get('REQUEST_URI')), siteName) }}">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('presentation'|route(app.request.server.get('REQUEST_URI')), siteName) }}">Présentation</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog'|route(app.request.server.get('REQUEST_URI')), siteName) }}">Blog</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('devis'|route(app.request.server.get('REQUEST_URI')), siteName) }}">Devis</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('contact'|route(app.request.server.get('REQUEST_URI')), siteName) }}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //Footer Col.// -->

                        <div class="col-md-4 col-sm-4 footer-col">
                            {% if site.hasOneSocialLink %}
                                <div class="footer-content">
                                    <div class="footer-title align-right">
                                        Réseaux sociaux
                                    </div>
                                    <div class="footer-content-text">
                                        <div class="social-icons">
                                            <ul>
                                                {% if site.facebook %}
                                                    <li>
                                                        <a href="{{ site.facebook }}" title="facebook" target="_blank"
                                                           class="social-media-icon facebook-icon">facebook</a>
                                                    </li>
                                                {% endif %}
                                                {% if site.twitter %}
                                                    <li>
                                                        <a href="{{ site.twitter }}" title="twitter" target="_blank"
                                                           class="social-media-icon twitter-icon">twitter</a>
                                                    </li>
                                                {% endif %}
                                                {% if site.instagram %}
                                                    <li>
                                                        <a href="{{ site.instagram }}" title="instagram" target="_blank"
                                                           class="social-media-icon instagram-icon">instagram</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 center-text">
                            <div class="copyright-text">&copy; {{ "now"|date('Y') }} {{ site.domain }} | Développé par
                                <a
                                        href="http://www.ara-solutions.com" target="_blank">ARA Solutions</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- wrapper end -->

<script type="text/javascript"
        src="{{ asset('templates/template-3/assets/js/_jq.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('templates/template-3/assets/js/_jquery.placeholder.js') }}"></script>
<script src="{{ asset('templates/template-3/assets/js/activeaxon_menu.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/animationEnigne.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/bootstrap.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/ie-fixes.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jq.appear.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.base64.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.carouFredSel-6.2.1-packed.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.cycle.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.cycle2.carousel.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.easing.1.3.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.easytabs.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.infinitescroll.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.isotope.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.prettyPhoto.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jQuery.scrollPoint.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.themepunch.plugins.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.themepunch.revolution.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.tipsy.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jquery.validate.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/jQuery.XDomainRequest.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/kanzi.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/retina.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/timeago.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('templates/template-3/assets/js/tweetable.jquery.js') }}"
        type="text/javascript"></script>
</body>
</html>