{% extends 'admin/base.html.twig' %}


{% block title %}Page Blog{% endblock %}

{% block description %}Représente la page présentation de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre page présentation à bien été mise à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">

        Ajouter un article

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <p>Vous pouvez modifier les éléments de votre page de présentation</p>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="demo-hor-inputemail">{{ form_label(form.title) }}</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="demo-hor-inputpass">{{ form_label(form.introduction) }}</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.introduction, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <!--Summernote-->
            <!--===================================================-->
            <div class="col-sm-12">
                <label class="control-label" for="demo-hor-inputemail">Contenu</label>
                <div id="summernote">
                    {% if blog.content is defined %}
                        {{ blog.content | raw }}
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-12">
                <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        const originalContent = $('#edit_blog_content');
        const itemContent = $('#edit_blog_content');
    </script>
    <script src="{{ asset('assets/js/demo/form-text-editor.js') }}"></script>
{% endblock %}