{% extends 'admin/base.html.twig' %}


{% block title %}Page Blog{% endblock %}

{% block description %}Représente la page présentation de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="panel">
        <div class="panel-body">
            {% if post.id is defined %}
                Modifer un article
            {% else %}
                Ajouter un article
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.title) }}</label>
                <div>
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{ form_label(form.introduction) }}</label>
                <div>
                    {{ form_widget(form.introduction, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-sm-12 form-group">
                <label class="control-label">{{ form_label(form.image) }}</label>
                <div>
                    <div class="col-sm-2">
                        {% if post.image is defined and post.image is not null %}
                            <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('logo') }}" />
                        {% endif %}
                    </div>
                    <div class="col-sm-10">
                    {{ form_widget(form.image, {'attr':{'class':'form-control input-lg'}}) }}
                    </div>
                </div>
            </div>

            <!--Summernote-->
            <!--===================================================-->
            <div class="col-sm-12">
                <label class="control-label" for="demo-hor-inputemail">Contenu</label>
                <div id="summernote">
                    {% if post.content is defined %}
                        {{ post.content | raw }}
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-12">
                <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <a href="{{ path('bo-blog') }}">
                    <button class="btn btn-danger pull-right margin-right-10" type="button">
                        Annuler
                    </button>
                </a>
            </div>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        const originalContent = $('#edit_blog_content');
        const itemContent = $('#edit_blog_content');
    </script>
    <script src="{{ asset('assets/js/demo/form-text-editor.js') }}"></script>
{% endblock %}