{% extends 'admin/base.html.twig' %}


{% block title %}Page Blog{% endblock %}

{% block description %}Représente la page Blog de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success is defined and success == true %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre page blog à bien été mise à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            <h3 class="panel-title">Mes articles</h3>
            <div id="page-content">
                <div style="text-align: right;">
                    <a href="{{ path('bo-blog-add') }}">
                        <button id="demo-edit-text" class="btn btn-primary" type="button">Ajouter un article</button>
                    </a>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <table id="demo-dt-basic" style="text-align: center;" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Titre</th>
                                <th style="text-align: center;">Description</th>
                                <th style="text-align: center;">Date de création</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if blogs|length > 0 %}
                                {% for blog in blogs %}
                                    <tr>
                                        <td>{{ blog.title }}</td>
                                        <td>{{ blog.introduction }}</td>
                                        <td>{{ blog.creationDate|date('d/m/Y') }}</td>
                                        <td width="300px">
                                            <a href="{{ path('bo-blog-edit', {id: blog.id}) }}"><button class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> Modifier</button></a>
                                            <a href="{{ path('bo-blog-remove', {id: blog.id}) }}"><button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun article</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/tables-datatables.js') }}"></script>
{% endblock %}