{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} - {{site.blog.seoTitle}}{% endblock %}
{% block description %}{{site.blog.seoDescription}}{% endblock %}

{% block blogActive %}active{% endblock %}

{% block body %}
    <div class="top-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="h1-page-title">{{ site.blog.seoTitle }}</h1>

                        <h2 class="h2-page-desc">
                            {{ site.blog.seoDescription }}

                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper hide-until-loading">
        <div class="body-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                         data-animrepeat="0"
                         data-speed="1s"
                         data-delay="0.4s">
                        <h2 class="h2-section-title">{{ site.blog.seoTitle }}</h2>
                        <div class="i-section-title">
                            <i class="icon-feather">

                            </i>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        {% if posts|length > 0 %}
                            {% set siteName = site.internalName|param(app.request.server.get('REQUEST_URI')) %}
                            {% for post in posts %}
                                {% set siteName = siteName|merge({'post':post.id}) %}
                                <div class="blog-post">
                                    <div class="blog-post-type">
                                        <i class="icon-photo"> </i>
                                    </div>
                                    <div class="blog-span">

                                        <!-- Slider -->
                                        <div class="blog-post-featured-img">

                                            <div class="blog-slider cycle-slideshow"
                                                 data-cycle-slides="> .slider-img"
                                                 data-cycle-swipe="true"
                                                 data-cycle-prev=".cycle-prev"
                                                 data-cycle-next=".cycle-next"
                                                 data-cycle-timeout=0
                                            >


                                                <div class="slider-img">
                                                    {% if post.image is defined and post.image is not null %}
                                                        <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('post_picture') }}"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Slider -->
                                        <h2>
                                            <a href="">
                                                {{ post.title }}
                                            </a>
                                        </h2>

                                        <div class="blog-post-body">
                                            {{ post.introduction }}
                                        </div>

                                        <div class="blog-post-details">

                                            <!-- Date -->
                                            <div class="blog-post-details-item blog-post-details-item-left icon-calendar">
                                                {{ post.creationDate | date('d/m/Y') }}
                                            </div>
                                        </div>
                                        <div class="blog-post-details-item blog-post-details-item-right">
                                            <a href="{{ path('blog_detail'|route(app.request.server.get('REQUEST_URI')), siteName) }}">
                                                Voir plus <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div style="margin-bottom:20px;">Aucun article n'a été publié.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
