{% extends 'admin/base.html.twig' %}


{% block title %}Page Devis{% endblock %}

{% block description %}Représente la page devis de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Votre page Devis à bien été mise à jour.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="col-sm-12">
                <label class="control-label"  style="text-align:left;">{{ form_label(form.presentation) }}</label>
                <div>
                    {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{ form_label(form.email) }}</label>
                <div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}