{% extends 'admin/base.html.twig' %}


{% block title %}Administration de la page{% endblock %}

{% block description %}Modifier la page{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="tab-base">
        <!--Nav Tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#contenu" aria-expanded="true"><i class="fa fa-edit"></i> Contenu</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#infos" aria-expanded="false"><i class="fa fa-drivers-license-o"></i> Informations</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#structure" aria-expanded="false"><i class="fa fa-sitemap"></i> Structure</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#referencement" aria-expanded="false"><i class="fa fa-crosshairs"></i> Référencement (SEO)</a>
            </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">
            <div id="contenu" class="tab-pane fade active in">

                <div class="panel" style="display: flow-root;">

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Contenu de la page</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div>
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>

            </div>
            <div id="infos" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Formulaire de contact</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.presentation) }}</label>
                                <div>
                                    {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Adresse postale</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.nameAddress) }}</label>
                                <div>
                                    {{ form_widget(form.nameAddress, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.postCode) }}</label>
                                <div>
                                    {{ form_widget(form.postCode, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.city) }}</label>
                                <div>
                                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.country) }}</label>
                                <div>
                                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Vous contacter</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.phone) }}</label>
                                <div>
                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label">{{ form_label(form.email) }}</label>
                                <div>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Horaires d'ouverture</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.openingTime) }}</label>
                                <div>
                                    {{ form_widget(form.openingTime, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
            <div id="structure" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Nom de la page</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Affichage dans les menus</label></h3>
                        </div>
                        <div class="panel-body" id="seo-home">
                            <div class="col-sm-12">
                                {{ form_label(form.displayMenuHeader) }}
                                {{ form_widget(form.displayMenuHeader, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_label(form.displayMenuFooter) }}
                                {{ form_widget(form.displayMenuFooter, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
            <div id="referencement" class="tab-pane fade">
                <div class="panel" style="display: flow-root;">

                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Référencement (SEO)</label></h3>
                        </div>
                        <div class="panel-body" id="seo-home">
                            <div class="col-sm-12">
                                <label class="control-label" style="text-align:left;">{{ form_label(form.seoTitle) }}</label>
                                <div>
                                    {{ form_widget(form.seoTitle, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescription) }}</label>
                                <div>
                                    {{ form_widget(form.seoDescription, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="row" style="text-align: right;">
        <button data-target="#demo-default-modal" data-toggle="modal" class="btn btn-danger mt20 mr10 mb10" style="text-align: right;">Supprimer la page</button>
    </div>
    <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Supprimer la page</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer la page ?</p>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                    <a href="{{ path('bo-page-remove', { 'id': page.id }) }}" id="form-revert" class="btn btn-primary" type="button">
                        Oui
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}