{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} | {{ page.seoTitle }}{% endblock %}
{% block description %}{{ page.seoDescription }}{% endblock %}

{% block blogActive %}active{% endblock %}

{% block body %}

    <div class="has-right-sidebar has-one-sidebar">
        <div class="container">
            {{ page.pagesTypeBlog.content|wysiwygSlider|wysiwygBanner|links(site.id, site.internalName, app.request.server.get('REQUEST_URI'))|raw }}
            <div class="row">

                <div class="col-sm-12">

                    <article>

                        <figure class="media-wrap">
                            {% if post.image is defined and post.image is not null %}
                                <img style="width: 30%;" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('main_picture') }}" />
                            {% endif %}
                        </figure>

                        <h3 class="blog-post-caption">{{ post.title }}</h3>

                        <div class="post-info clearfix">
                                <span class="vcard author">
                                    Le <span class="date updated">{{ post.creationDate|date('d/m/Y') }}</span>
                                </span>
                        </div>

                        <section class="article-body-wrap">

                            <div class="body-text clearfix">
                                <p>
                                    {{ post.content|raw }}
                                </p>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
