{% extends 'admin/base.html.twig' %}


{% block title %}Administration de la page{% endblock %}

{% block description %}Modifier la page{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre page à bien été ajoutée.
        </div>
    {% endif %}

    {{ form_start(form) }}
        <div class="tab-base">
            <!--Nav Tabs-->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#contenu" aria-expanded="true"><i class="fa fa-edit"></i> Contenu</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#structure" aria-expanded="false"><i class="fa fa-sitemap"></i> Structure</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#referencement" aria-expanded="false"><i class="fa fa-crosshairs"></i> Référencement (SEO)</a>
                </li>
            </ul>

            <!--Tabs Content-->
            <div class="tab-content">
                <div id="contenu" class="tab-pane fade active in">
                    <div class="panel" style="display: flow-root;">

                        <div class="panel panel-mint">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label class="control-label">Contenu de la page</label></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div>
                                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
                <div id="structure" class="tab-pane fade">
                    <div class="panel" style="display: flow-root;">
                        <div class="panel panel-mint">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label class="control-label">Nom de la page</label></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-mint">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label class="control-label">Affichage dans les menus</label></h3>
                            </div>
                            <div class="panel-body" id="seo-home">
                                <div class="col-sm-12">
                                    {{ form_label(form.displayMenuHeader) }}
                                    {{ form_widget(form.displayMenuHeader, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-12">
                                    {{ form_label(form.displayMenuFooter) }}
                                    {{ form_widget(form.displayMenuFooter, {'attr': {'class': 'form-control'}}) }}

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-mint">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label class="control-label">Type de la page</label></h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-6">
                                    {{ form_widget(form.type, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-6">
                                    <img id="dynamic-theme" src="" width="100%"/>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                                Enregistrer
                            </button>
                        </div>

                        <div class="col-sm-12 mt20">
                            <a href="{{ path('bo-page-remove', { 'id': page.id }) }}" id="form-revert" class="btn btn-danger pull-right mr10" type="button">
                                Supprimer la page
                            </a>
                        </div>
                    </div>
                </div>
                <div id="referencement" class="tab-pane fade">
                    <div class="panel" style="display: flow-root;">

                        <div class="panel panel-mint">
                            <div class="panel-heading">
                                <h3 class="panel-title"><label class="control-label">Référencement (SEO)</label></h3>
                            </div>
                            <div class="panel-body" id="seo-home">
                                <div class="col-sm-12">
                                    <label class="control-label" style="text-align:left;">{{ form_label(form.seoTitle) }}</label>
                                    <div>
                                        {{ form_widget(form.seoTitle, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label"  style="text-align:left;">{{ form_label(form.seoDescription) }}</label>
                                    <div>
                                        {{ form_widget(form.seoDescription, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}


{% endblock %}