{% extends 'admin/base.html.twig' %}


{% block title %}Page Tarifs{% endblock %}

{% block description %}Représente les tarifs à afficher sur votre site de votre site{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre page Devis à bien été mise à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <label class="control-label">
                            {% if pricingProduct.id is defined %}
                                Modifer un produit
                            {% else %}
                                Ajouter un produit
                            {% endif %}
                            {{ form_start(form) }}
                        </label>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12 form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                        <span class="form-errors">{{ form_errors(form.price) }}</span>
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.currency) }}
                        {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.active) }}
                        {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <a href="{{ path('bo-pricing') }}">
                    <button class="btn btn-danger pull-right mr10" type="button">
                        Annuler
                    </button>
                </a>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/tables-datatables.js') }}"></script>
{% endblock %}