{% extends 'admin/base.html.twig' %}


{% block title %}Page Tarifs{% endblock %}

{% block description %}Représente les tarifs à afficher sur votre site de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Les modifications ont bien été prises en compte.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Catégories et produits</label></h3>
                </div>
                <div class="panel-body">
                    <div style="text-align: right;margin-bottom:10px;">
                        <a href="{{ path('bo-pricing-product-add') }}">
                            <button id="demo-edit-text" class="btn btn-primary" type="button"><i class="fa fa-paint-brush"></i> Ajouter un produit</button>
                        </a>
                    </div>

                    <div class="col-md-2">

                        <div class="fixed-sm-250 pull-sm-right fixed-left-border">


                            <!-- Tips Widget -->
                            <!--===================================================-->
                            <h4>Catégories</h4>
                            <div class="list-group bg-trans">
                                {% if categories|length > 0 %}
                                {% for category in categories %}
                                    <a class="list-group-item list-item-sm" href="#">{{ category.name }}</a>
                                {% endfor %}
                                    <a class="list-group-item list-item-sm" href="#">Toutes les catégories</a>
                                {% else %}
                                    Aucune catégorie
                                {% endif %}
                            </div>
                            <!--===================================================-->


                            <div class="pad-top">
                                <a href="{{ path('bo-pricing-category') }}" class="btn btn-primary">Editer les catégories</a>
                            </div>
                            <!--===================================================-->
                        </div>

                    </div>
                    <div class="col-md-10">
                        <table id="demo-dt-basic" style="text-align: center;" class="table table-striped table-bordered table-vcenter" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="text-align: center;width:80px;">#</th>
                                <th style="text-align: center;">Label</th>
                                <th style="text-align: center;">Catégorie</th>
                                <th style="text-align: center;">Prix</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if products is defined and products|length > 0 %}
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            {{ product.id }}
                                        </td>
                                        <td>{{ product.name }}</td>
                                        <td>
                                            {% if product.category is defined and product.category is not null %}
                                                {{ product.category.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ product.price | number_format(2, ',', ' ') }}</td>
                                        <td width="300px">
                                            <a href="{{ path('bo-pricing-product-edit', {id: product.id}) }}"><button class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> Modifier</button></a>
                                            <a href="{{ path('bo-pricing-product-remove', {id: product.id}) }}"><button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun produit</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center mb10" style="font-size: 1.2em;color:#000;font-weight:bold;">
        ET/OU
    </div>
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Plan tarifaire</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div>
                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right mr10" type="button">
                    Annuler
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/tables-datatables.js') }}"></script>
{% endblock %}