{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block description %}Bienvenue dans votre espace d'administration. Vous pouvez dès à présent mettre à jour le contenu de votre site.{% endblock %}

{% block body %}


    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="panel {{ referencement.referencementTaux < 100 ? 'panel-bordered-danger' : 'panel-bordered-success' }}">
                    <div class="panel-body text-center clearfix">
                        <div class="col-sm-4 pad-top">
                            <div class="text-lg">
                                <p class="text-sm text-bold text-uppercase">Référencement naturel</p>
                                <p class="text-sm">Taux de remplissage :</p>
                                <p class="text-5x text-thin text-main">{{ referencement.referencementTaux|round }}%</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <ul class="list-unstyled text-center bord-bottom pad-bottom mar-no row">
                                <p class="text-sm">Taux de remplissage :</p>
                                <li class="col-xs-6">
                                    <p class="text-sm text-muted mar-no">Titre</p>
                                    <span class="text-lg text-semibold text-main mt20">{{ referencement.referencementTitleTaux|round }}%</span>
                                </li>
                                <li class="col-xs-6">
                                    <p class="text-sm text-muted mar-no">Description</p>
                                    <span class="text-lg text-semibold text-main">{{ referencement.referencementDescriptionTaux|round }}%</span>
                                </li>
                            </ul>
                            {% if referencement.referencementTaux < 100 %}
                                <p class="text-sm mt20 color-red">
                                    Le référencement de votre site n'est pas otpimal, veuillez renseigner un titre et une description pour chaque page.
                                    Comment faire ? Il suffit d'alimenter l'onglet "Référencement (SEO)" dans l'administration de chaque page.
                                </p>
                            {% else %}
                                <p class="text-sm mt20">
                                    Félicitations ! Votre site est optimisé pour le référencemnt naturel.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>


                {% if site.analyticsViewId != '' %}
                    <div id="demo-panel-network" class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Trafic quotidien de votre site (30 derniers jours)</h3>
                        </div>
                        <!--chart placeholder-->
                        <div class="pad-all">
                            <div id="demo-chart-network" style="height: 255px; padding: 0px; position: relative;">
                            </div>
                        </div>
                        <!--
                        <div class="panel-body">
                            <div class="row">
                                    <div class="pad-rgt">
                                        <p class="text-semibold text-uppercase text-main">Today Tips</p>
                                        <p class="text-muted mar-top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                    </div>
                            </div>
                        </div>-->
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="panel panel-warning panel-colorful media middle pad-all">
                            <div class="media-left">
                                <div class="pad-hor">
                                    <i class="ti-layout-grid2 icon-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="text-2x mar-no text-semibold">{{ nbrPages }}</p>
                                <p class="mar-no">Pages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="panel panel-info panel-colorful media middle pad-all">
                            <div class="media-left">
                                <div class="pad-hor">
                                    <i class="ti-comment icon-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="text-2x mar-no text-semibold">{{ nbrPosts }}</p>
                                <p class="mar-no">Articles</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <!--Network Line Chart-->
                <!--
                <div id="demo-panel-network" class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-psi-repeat-2"></i></button>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="panel-title">Network</h3>
                    </div>


                    <div class="pad-all">
                        <div id="demo-chart-network" style="height: 255px"></div>
                    </div>


                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <hr>

                                <div class="pad-rgt">
                                    <p class="text-semibold text-uppercase text-main">Trafic quotidien</p>
                                    <p class="text-muted mar-top">Trafic du nombre de visiteurs par jour</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                -->
                <!--End network line chart-->

            </div>
        </div>

    </div>
    <!--===================================================-->
    <!--End page content-->



{% endblock %}

{% block javascripts %}
    <!--Flot Chart [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.time.min.js') }}"></script>
    <!--Sparkline [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script>
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }
        var dataVisiteursUnique = {{ dataVisiteursUnique }};
        var dataVisiteursRecurrent = {{ dataVisiteursRecurrent }};
    </script>
    <!--Specify page [ SAMPLE ]-->
    <script src="{{ asset('assets/js/demo/dashboard.js') }}"></script>

{% endblock %}
