{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block description %}Bienvenue dans votre espace d'administration. Vous pouvez dès à présent mettre à jour le contenu de votre site.{% endblock %}

{% block body %}

    <div id="page-content">

        <div class="text-center mt40">
            <h3>Bonjour {{ user.firstName }} ! Bienvenue dans ton tableau de bord.</h3>
            <p>Pour commencer, choisis un template de site ci-dessous.</p>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="pad-ver mar-top text-main"><i class="demo-pli-data-settings icon-4x"></i></div>
                        <p class="text-lg text-semibold mar-no text-main">Vitrine</p>
                        <p class="text-muted">5 pages</p>
                        <p class="text-left">Template de site classique avec les pages suivantes :<br/><br/>
                        - Accueil<br/>
                        - Présentation<br/>
                        - Blog<br/>
                        - Tarif<br/>
                        - Contact</p>
                        <a href="https://www.izibrick.com/site/meyer" target="_blank" class="btn btn-success mar-ver">Voir un site vitrine</a>
                        <a href="{{ path('bo-dashboard-create-template', {'id':1}) }}" class="btn btn-primary">Générer les pages</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="pad-ver mar-top text-main"><i class="demo-pli-computer-secure icon-4x"></i></div>
                        <p class="text-lg text-semibold mar-no text-main">Blog</p>
                        <p class="text-muted">4 pages</p>
                        <p class="text-left">Template de site classique avec les pages suivantes :<br/><br/>
                            - Accueil<br/>
                            - Présentation<br/>
                            - Blog<br/>
                            - Contact<br/><br/></p>
                        <a href="https://www.izibrick.com/site/ruppell" target="_blank" class="btn btn-success mar-ver">Voir un site blog</a>
                        <a href="{{ path('bo-dashboard-create-template', {'id':2}) }}" class="btn btn-primary">Générer les pages</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--===================================================-->
    <!--End page content-->



{% endblock %}

{% block javascripts %}
    <!--Flot Chart [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.time.min.js') }}"></script>
    <!--Sparkline [ OPTIONAL ]-->
    <script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/js/demo/dashboard.js') }}"></script>

{% endblock %}
