{% extends 'admin/base.html.twig' %}


{% block title %}Les paramètres globaux{% endblock %}

{% block description %}Tous les paramètres liés à votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Vos paramètres ont bien été mis à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}


            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Général</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.domain) }}
                        {{ form_widget(form.domain, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">{{ form_label(form.logo) }}</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-2">
                        {% if site.logo is defined and site.logo is not null %}
                            <img src="{{ vich_uploader_asset(site, 'logoFile') | imagine_filter('logo') }}" />
                        {% endif %}
                    </div>
                    <div class="col-sm-10">
                        {{ form_widget(form.logo, {'attr':{'class':'form-control input-lg'}}) }}
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Réseaux sociaux</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.facebook) }}
                        {{ form_widget(form.facebook, {'attr':{'class':'form-control'}}) }}
                    </div>

                    <div class="col-sm-12 form-group">
                        {{ form_label(form.twitter) }}
                        {{ form_widget(form.twitter, {'attr':{'class':'form-control'}}) }}
                    </div>

                    <div class="col-sm-12 form-group">
                        {{ form_label(form.instagram) }}
                        {{ form_widget(form.instagram, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Structure</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.template) }}
                        {{ form_widget(form.template, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.colorTheme) }}
                        {{ form_widget(form.colorTheme, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 form-group">
                <button class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
{% endblock %}