{% extends 'admin/base.html.twig' %}


{% block title %}Les paramètres globaux{% endblock %}

{% block description %}Tous les paramètres liés à votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Vos paramètres ont bien été mis à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="col-sm-12 form-group">
                {{ form_label(form.keys) }}
                {{ form_widget(form.keys, {'attr':{'data-role':'tagsinput'}}) }}
            </div>

            <div class="col-sm-12 form-group">
                {{ form_label(form.facebook) }}
                {{ form_widget(form.facebook, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="col-sm-12 form-group">
                {{ form_label(form.twitter) }}
                {{ form_widget(form.twitter, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="col-sm-12 form-group">
                {{ form_label(form.instagram) }}
                {{ form_widget(form.instagram, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="col-sm-12 form-group">
                {{ form_label(form.logo) }}
                {{ form_widget(form.logo, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="col-sm-12 form-group">
                <button class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
{% endblock %}