{% extends 'admin/base.html.twig' %}


{% block title %}Les paramètres globaux{% endblock %}

{% block description %}Tous les paramètres liés à votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/noUiSlider/nouislider.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/chosen/chosen.min.css') }}" rel="stylesheet">

    <style type="text/css">
        {% for font in fonts %}
        @font-face {
            font-family: '{{ font.realFontName }}';
            src: url({{ asset('templates/fonts/' ~ font.path) }})
        }

        {% endfor %}
    </style>
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Vos paramètres ont bien été mis à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="row col-md-12">
                <div class="panel panel-mint">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label class="control-label">Général</label></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.domain) }}
                            {{ form_widget(form.domain, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">{{ form_label(form.logo) }}</label>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">{{ form_widget(form.logo, {'attr':{'class':'js-file-attachment-logo'}} ) }}
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="row">
                                    <div class="checkbox">
                                        {{ form_widget(form.nameInLogo, {'attr':{'class':'form-control magic-checkbox'}}) }}
                                        {{ form_label(form.nameInLogo) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">{{ form_label(form.favicon) }}</label>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">{{ form_widget(form.favicon, {'attr':{'class':'js-file-attachment-favicon'}} ) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Réseaux sociaux</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.facebook) }}
                                {{ form_widget(form.facebook, {'attr':{'class':'form-control'}}) }}
                            </div>

                            <div class="col-sm-12 form-group">
                                {{ form_label(form.twitter) }}
                                {{ form_widget(form.twitter, {'attr':{'class':'form-control'}}) }}
                            </div>

                            <div class="col-sm-12 form-group">
                                {{ form_label(form.instagram) }}
                                {{ form_widget(form.instagram, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Structure</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.template) }}
                                    {{ form_widget(form.template, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.colorTheme) }}
                                    {{ form_widget(form.colorTheme) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.lightTheme) }}
                                    {{ form_widget(form.lightTheme, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.defaultPage) }}
                                    {{ form_widget(form.defaultPage, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img id="dynamic-theme" src="" width="100%"/>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Police du site</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.font) }}
                                    {{ form_widget(form.font) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.fontSize) }}
                                    {{ form_widget(form.fontSize, {'attr':{'class':'hidden'}}) }}
                                    <div id="demo-range-step"></div>
                                    <span id="demo-range-step-val"></span> px
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="test-font">
                                    <label>Exemple</label>
                                    <p>
                                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
                                        mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                                        l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
                                        ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
                                        texte.
                                    </p>
                                    <p>
                                        Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la
                                        bureautique informatique, sans que son contenu n'en soit modifié. Il a été
                                        popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant
                                        des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
                                        applications de mise en page de texte, comme Aldus PageMaker.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Pages</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.displayPricing) }}
                                {{ form_widget(form.displayPricing, {'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.displayQuote) }}
                                {{ form_widget(form.displayQuote, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success pull-right" type="submit">
                        Enregistrer
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/bo/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/colorpicker/js/jqColorPicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/imageTool.js') }}"></script>
    <script src="{{ asset('assets/bo/js/hs.core.js') }}"></script>
    <!-- JS Implementing Plugins -->
    <script src="{{ asset('assets/bo/vendor/jquery.filer/js/jquery.filer.min.js') }}"></script>

    <!-- JS Unify -->
    <script src="{{ asset('assets/bo/js/helpers/hs.focus-state.js') }}"></script>
    <script src="{{ asset('assets/bo/js/components/hs.file-attachement.js') }}"></script>

    <script src="{{ asset('assets/plugins/noUiSlider/nouislider.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/wnumb/wNumb.js') }}"></script>

    <script type="text/javascript">
        $('.colorpicker:not(.expert)').colorPicker({
            opacity: false
        });

        function changeSrc() {
            var light = $('#edit_global_parameters_lightTheme').val() === "1" ? 'light' : 'dark';
            $('#dynamic-theme').attr('src', "/templates/template-" + $('#edit_global_parameters_template').val() + "/options/" + light + ".png");
            $('#dynamic-theme').css('backgroundColor', $('#edit_global_parameters_colorTheme').val());
        }

        $(document).ready(function () {
            $('#edit_global_parameters_template, #edit_global_parameters_lightTheme').on('change', function () {
                changeSrc();
            });

            $('#edit_global_parameters_colorTheme').on('blur', function () {
                changeSrc();
            })
        });

        changeSrc();

        // initialization of forms
        $.HSCore.components.HSFileAttachment.init('.js-file-attachment-logo', {
            changeInput: '<div class="u-file-attach-v3 g-mb-15">\
                            <div class="col-sm-12">\
                                <img id="edit_global_parameters_logo-img" height="100" src="{{ vich_uploader_asset(site, 'logoFile') | imagine_filter('logo') }}" />\
                            </div>\
                            <div class="col-sm-12">\
               				    <h4 class="g-font-size-16 g-color-gray-dark-v2 mb-10" id="edit_global_parameters_logo_filer_title">\
               				        <span class="g-color-primary">Modifier l\'image</span>\
               				    </h4>\
               				</div>\
              			</div>',
            limit: 1,
            templates: {
                item: '<div></div>'
            }
        });

        $.HSCore.components.HSFileAttachment.init('.js-file-attachment-favicon', {
            changeInput: '<div class="u-file-attach-v3 g-mb-15">\
                            <div class="col-sm-12">\
                                <img id="edit_global_parameters_favicon-img" width="32" src="{{ vich_uploader_asset(site, 'faviconFile') | imagine_filter('favicon') }}" />\
                            </div>\
                            <div class="col-sm-12">\
               				    <h4 class="g-font-size-16 g-color-gray-dark-v2 mb-10" id="edit_global_parameters_favicon_filer_title">\
               				        <span class="g-color-primary">Modifier le favicon</span>\
               				    </h4>\
               				</div>\
              			</div>',
            limit: 1,
            templates: {
                item: '<div></div>'
            }
        });
        $("#edit_global_parameters_favicon, #edit_global_parameters_logo").change(function () {
            readURL(this, true);
        });

        $.HSCore.helpers.HSFocusState.init();

        $('#edit_global_parameters_font, #edit_global_parameters_lightTheme, #edit_global_parameters_template').chosen({
            width: '100%',
            disable_search_threshold: 15
        });

        var rs_step = document.getElementById('demo-range-step');
        var rs_step_value = document.getElementById('demo-range-step-val');

        noUiSlider.create(rs_step, {
            start: [ {{ site.fontSize }} ],
            connect: 'upper',
            step: 1,
            range: {
                'min': [10],
                'max': [30]
            },
            format: {
                // 'to' the formatted value. Receives a number.
                to: function (value) {
                    return value;
                },
                // 'from' the formatted value.
                // Receives a string, should return a number.
                from: function (value) {
                    return Number(value);
                }
            }
        });

        rs_step.noUiSlider.on('update', function (values, handle) {
            rs_step_value.innerHTML = values[handle];
            $('#edit_global_parameters_fontSize').val(values[handle]);
            changeTestFont();
        });

        $('#edit_global_parameters_font').on('change', function (values, handle) {
            changeTestFont();
        });

        function changeTestFont() {
            $('#test-font p').css('font-family', $('#edit_global_parameters_font :selected').text());
            $('#test-font p').css('font-size', $('#edit_global_parameters_fontSize').val() + 'px');
        }
    </script>

{% endblock %}