{% extends 'admin/base.html.twig' %}


{% block title %}Les paramètres globaux{% endblock %}

{% block description %}Tous les paramètres liés à votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/noUiSlider/nouislider.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/chosen/chosen.min.css') }}" rel="stylesheet">

    <style type="text/css">
        {% for font in fonts %}
        @font-face {
            font-family: '{{ font.realFontName }}';
            src: url({{ asset('templates/fonts/' ~ font.path) }})
        }

        {% endfor %}
    </style>

    <style type="text/css">
        /**
         * Nestable
         */

        .dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

        .dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
        .dd-list .dd-list { padding-left: 30px; }
        .dd-collapsed .dd-list { display: none; }

        .dd-item,
        .dd-empty,
        .dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

        .dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:         linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box; -moz-box-sizing: border-box;
        }
        .dd-handle:hover { color: #2ea8e5; background: #fff; }

        .dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
        .dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
        .dd-item > button[data-action="collapse"]:before { content: '-'; }

        .dd-placeholder,
        .dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
        .dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
            background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-size: 60px 60px;
            background-position: 0 0, 30px 30px;
        }

        .dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
        .dd-dragel > .dd-item .dd-handle { margin-top: 0; }
        .dd-dragel .dd-handle {
            -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
        }

        /**
         * Nestable Extras
         */

        #nestable-menu { padding: 0; margin: 20px 0; }

        #nestable-output,
        #nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

        #nestable2 .dd-handle {
            color: #fff;
            border: 1px solid #999;
            background: #bbb;
            background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
            background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
            background:         linear-gradient(top, #bbb 0%, #999 100%);
        }
        #nestable2 .dd-handle:hover { background: #bbb; }
        #nestable2 .dd-item > button:before { color: #fff; }

        @media only screen and (min-width: 700px) {

            .dd { float: left; width: 48%; }
            .dd + .dd { margin-left: 2%; }

        }

        .dd-hover > .dd-handle { background: #2ea8e5 !important; }

        /**
         * Nestable Draggable Handles
         */

        .dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:         linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box; -moz-box-sizing: border-box;
        }
        .dd3-content:hover { color: #2ea8e5; background: #fff; }

        .dd-dragel > .dd3-item > .dd3-content { margin: 0; }

        .dd3-item > button { margin-left: 30px; }

        .dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
            border: 1px solid #aaa;
            background: #ddd;
            background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
            background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
            background:         linear-gradient(top, #ddd 0%, #bbb 100%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
        .dd3-handle:hover { background: #ddd; }

        /**
         * Socialite
         */

        .socialite { display: block; float: left; height: 35px; }

    </style>
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Vos paramètres ont bien été mis à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="row col-md-12">
                <div class="panel panel-mint">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label class="control-label">Général</label></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-12 form-group">
                            {{ form_label(form.domain) }}
                            {{ form_widget(form.domain, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">{{ form_label(form.logo) }}</label>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">{{ form_widget(form.logo, {'attr':{'class':'js-file-attachment-logo'}} ) }}
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="row">
                                    <div class="checkbox">
                                        {{ form_widget(form.nameInLogo, {'attr':{'class':'form-control magic-checkbox'}}) }}
                                        {{ form_label(form.nameInLogo) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">{{ form_label(form.favicon) }}</label>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">{{ form_widget(form.favicon, {'attr':{'class':'js-file-attachment-favicon'}} ) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Réseaux sociaux</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.facebook) }}
                                {{ form_widget(form.facebook, {'attr':{'class':'form-control'}}) }}
                            </div>

                            <div class="col-sm-12 form-group">
                                {{ form_label(form.twitter) }}
                                {{ form_widget(form.twitter, {'attr':{'class':'form-control'}}) }}
                            </div>

                            <div class="col-sm-12 form-group">
                                {{ form_label(form.instagram) }}
                                {{ form_widget(form.instagram, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Structure</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.template) }}
                                    {{ form_widget(form.template, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.colorTheme) }}
                                    {{ form_widget(form.colorTheme) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.lightTheme) }}
                                    {{ form_widget(form.lightTheme, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.defaultPage) }}
                                    {{ form_widget(form.defaultPage, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.displayBoxed) }}
                                    {{ form_widget(form.displayBoxed, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img id="dynamic-theme" src="" width="100%"/>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Police du site</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.font) }}
                                    {{ form_widget(form.font) }}
                                </div>
                                <div class="col-sm-12 form-group">
                                    {{ form_label(form.fontSize) }}
                                    {{ form_widget(form.fontSize, {'attr':{'class':'hidden'}}) }}
                                    <div id="demo-range-step"></div>
                                    <span id="demo-range-step-val"></span> px
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="test-font">
                                    <label>Exemple</label>
                                    <p>
                                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
                                        mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                                        l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
                                        ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
                                        texte.
                                    </p>
                                    <p>
                                        Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la
                                        bureautique informatique, sans que son contenu n'en soit modifié. Il a été
                                        popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant
                                        des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
                                        applications de mise en page de texte, comme Aldus PageMaker.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="panel panel-mint">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label class="control-label">Affichage du menu</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.orderMenu) }}

                                <div class="cf nestable-lists">
                                    <div class="dd" id="nestable">
                                        <ol class="dd-list">
                                            {% for page in site.pages|filter(v => v.menuHeaderOrder > 0)|sort((a, b) => a.menuHeaderOrder <=> b.menuHeaderOrder) %}
                                                <li class="dd-item" data-id="{{ page.id }}"><div class="dd-handle">{{ page.nameMenu }}</div></li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form_label(form.orderMenuFooter) }}

                                <div class="cf nestable-lists">
                                    <div class="dd" id="nestable2">
                                        <ol class="dd-list">
                                            {% for page in site.pages|filter(v => v.menuFooterOrder > 0)|sort((a, b) => a.menuFooterOrder <=> b.menuFooterOrder) %}
                                                <li class="dd-item" data-id="{{ page.id }}"><div class="dd-handle">{{ page.nameMenu }}</div></li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success pull-right" type="submit">
                        Enregistrer
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/bo/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/colorpicker/js/jqColorPicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/imageTool.js') }}"></script>
    <script src="{{ asset('assets/bo/js/hs.core.js') }}"></script>
    <!-- JS Implementing Plugins -->
    <script src="{{ asset('assets/bo/vendor/jquery.filer/js/jquery.filer.min.js') }}"></script>

    <!-- JS Unify -->
    <script src="{{ asset('assets/bo/js/helpers/hs.focus-state.js') }}"></script>
    <script src="{{ asset('assets/bo/js/components/hs.file-attachement.js') }}"></script>

    <script src="{{ asset('assets/plugins/noUiSlider/nouislider.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/wnumb/wNumb.js') }}"></script>
    <script src="{{ asset('assets/bo/js/components/nestable/jquery.nestable.js') }}"></script>

    <script type="text/javascript">
        $('.colorpicker:not(.expert)').colorPicker({
            opacity: false
        });

        function changeSrc() {
            var light = $('#edit_global_parameters_lightTheme').val() === "1" ? 'light' : 'dark';
            $('#dynamic-theme').attr('src', "/templates/template-" + $('#edit_global_parameters_template').val() + "/options/" + light + ".png");
            $('#dynamic-theme').css('backgroundColor', $('#edit_global_parameters_colorTheme').val());
        }

        $(document).ready(function () {
            $('#edit_global_parameters_template, #edit_global_parameters_lightTheme').on('change', function () {
                changeSrc();
            });

            $('#edit_global_parameters_colorTheme').on('blur', function () {
                changeSrc();
            })
        });

        changeSrc();

        // initialization of forms
        $.HSCore.components.HSFileAttachment.init('.js-file-attachment-logo', {
            changeInput: '<div class="u-file-attach-v3 g-mb-15">\
                            <div class="col-sm-12">\
                                <img id="edit_global_parameters_logo-img" height="100" src="{{ vich_uploader_asset(site, 'logoFile') | imagine_filter('logo') }}" />\
                            </div>\
                            <div class="col-sm-12">\
               				    <h4 class="g-font-size-16 g-color-gray-dark-v2 mb-10" id="edit_global_parameters_logo_filer_title">\
               				        <span class="g-color-primary">Modifier l\'image</span>\
               				    </h4>\
               				</div>\
              			</div>',
            limit: 1,
            templates: {
                item: '<div></div>'
            }
        });

        $.HSCore.components.HSFileAttachment.init('.js-file-attachment-favicon', {
            changeInput: '<div class="u-file-attach-v3 g-mb-15">\
                            <div class="col-sm-12">\
                                <img id="edit_global_parameters_favicon-img" width="32" src="{{ vich_uploader_asset(site, 'faviconFile') | imagine_filter('favicon') }}" />\
                            </div>\
                            <div class="col-sm-12">\
               				    <h4 class="g-font-size-16 g-color-gray-dark-v2 mb-10" id="edit_global_parameters_favicon_filer_title">\
               				        <span class="g-color-primary">Modifier le favicon</span>\
               				    </h4>\
               				</div>\
              			</div>',
            limit: 1,
            templates: {
                item: '<div></div>'
            }
        });
        $("#edit_global_parameters_favicon, #edit_global_parameters_logo").change(function () {
            readURL(this, true);
        });

        $.HSCore.helpers.HSFocusState.init();

        $('#edit_global_parameters_font, #edit_global_parameters_lightTheme, #edit_global_parameters_template').chosen({
            width: '100%',
            disable_search_threshold: 15
        });

        var rs_step = document.getElementById('demo-range-step');
        var rs_step_value = document.getElementById('demo-range-step-val');

        noUiSlider.create(rs_step, {
            start: [ {{ site.fontSize }} ],
            connect: 'upper',
            step: 1,
            range: {
                'min': [10],
                'max': [30]
            },
            format: {
                // 'to' the formatted value. Receives a number.
                to: function (value) {
                    return value;
                },
                // 'from' the formatted value.
                // Receives a string, should return a number.
                from: function (value) {
                    return Number(value);
                }
            }
        });

        rs_step.noUiSlider.on('update', function (values, handle) {
            rs_step_value.innerHTML = values[handle];
            $('#edit_global_parameters_fontSize').val(values[handle]);
            changeTestFont();
        });

        $('#edit_global_parameters_font').on('change', function (values, handle) {
            changeTestFont();
        });

        function changeTestFont() {
            $('#test-font p').css('font-family', $('#edit_global_parameters_font :selected').text());
            $('#test-font p').css('font-size', $('#edit_global_parameters_fontSize').val() + 'px');
        }

        var updateOutput = function(e)
        {
            var list   = e.length ? e : $(e.target),
                output = list.data('output');
            $('input[id=edit_global_parameters_orderMenu]').val(window.JSON.stringify(list.nestable('serialize')));
            if (window.JSON) {
                //output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
            } else {
                //output.val('JSON browser support required for this demo.');
            }
        };

        // activate Nestable for list 1
        $('#nestable').nestable({
            group: 1
        }).on('change', updateOutput);

        var updateOutput2 = function(e)
        {
            var list   = e.length ? e : $(e.target),
                output = list.data('output');
            $('input[id=edit_global_parameters_orderMenuFooter]').val(window.JSON.stringify(list.nestable('serialize')));
            if (window.JSON) {
                //output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
            } else {
                //output.val('JSON browser support required for this demo.');
            }
        };

        // activate Nestable for list 1
        $('#nestable2').nestable({
            group: 1
        }).on('change', updateOutput2);
    </script>

{% endblock %}