{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} | Blog{% endblock %}

{% block blogActive %}active{% endblock %}

{% block body %}
    <section class="page-header parallax page-header-text-light page-header-crumbs-light-2 overlay overlay-color-dark overlay-show overlay-op-3 py-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{{ vich_uploader_asset(site.home, 'mainPictureFile') | imagine_filter('main_picture') }}">
        <div class="container py-9">
            <div class="row text-left">
                <div class="col-lg-12">
                    <p class="v-smash-text-large-2x">Blog</p>
                </div>
            </div>
        </div>
    </section>


    <div class="v-page-wrap has-right-sidebar has-one-sidebar">
        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <article>

                        <figure class="media-wrap">
                            {% if blog.image is defined and blog.image is not null %}
                                <img src="{{ vich_uploader_asset(blog, 'imageFile') | imagine_filter('post_picture') }}" />
                            {% endif %}
                        </figure>

                        <h3 class="blog-post-caption">{{ blog.title }}</h3>

                        <div class="post-info clearfix">
                                <span class="vcard author">
                                    Le <span class="date updated">{{ blog.creationDate|date('d/m/Y') }}</span>
                                </span>
                        </div>

                        <section class="article-body-wrap">

                            <div class="body-text clearfix">
                                <p>
                                    {{ blog.introduction }}
                                </p>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
