{% extends 'sites/template-' ~ site.template.id ~ '/base.html.twig' %}

{% block title %}{{site.name}} | Blog{% endblock %}

{% block blogActive %}active{% endblock %}

{% block body %}
    <section class="page-header parallax page-header-text-light page-header-crumbs-light-2 overlay overlay-color-dark overlay-show overlay-op-3 py-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{{ vich_uploader_asset(site.home, 'mainPictureFile') | imagine_filter('main_picture') }}">
        <div class="container py-9">
            <div class="row text-left">
                <div class="col-lg-12">
                    <p class="v-smash-text-large-2x">Blog</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="v-blog-widget">
                    <div class="v-blog-wrap">

                        {% if blogs|length > 0 %}
                        <div class="v-blog-items-wrap blog-mini">
                            <ul class="v-blog-items row mini-items clearfix">
                                {% for blog in blogs %}
                                    <li class="v-blog-item col-sm-12">
                                        <div class="mini-v-blog-item-wrap">
                                            <figure class="animated-overlay overlay-alt">
                                                {% if blog.image is defined and blog.image is not null %}
                                                    <img src="{{ vich_uploader_asset(blog, 'imageFile') | imagine_filter('main_picture') }}" />
                                                {% endif %}
                                                <a href="{{ path('blog_detail', {blog: blog.id}) }}" class="link-to-post"></a>
                                                <figcaption>
                                                    <div class="thumb-info thumb-info-v2"><i class="fa fa-angle-right"></i></div>
                                                </figcaption>
                                            </figure>
                                            <div class="blog-v-blog-item-info">
                                                <h3><a href="blog-standard-post.html">{{ blog.title }}</a></h3>
                                                <div class="v-blog-item-details">Le {{ blog.creationDate|date('d/m/Y') }}</div>
                                                <div class="v-blog-item-description">
                                                    <p>
                                                        {{ blog.introduction }}
                                                    </p>
                                                </div>
                                                <a class="btn v-btn standard white sf-icon-stroke" href="{{ path('blog_detail', {blog: blog.id}) }}" target="_self">
                                                    <i class="icon-arrow-32"></i><span class="text">Voir la suite</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            <!--<nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <span class="page-link">Previous</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                                <span class="page-link">
                                                    2
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>-->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
