{% extends 'admin/base.html.twig' %}


{% block title %}Page Présentation{% endblock %}

{% block description %}Représente la page présentation de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Parfait !</strong> Votre page présentation à bien été mise à jour.
        </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Contenu de la page</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="summernote">
                            {% if site.presentation.content is defined %}
                                {{ site.presentation.content | raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button id="form-submit-whitout-valid" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        const originalContent = $('#edit_presentation_content');
        const itemContent = $('#edit_presentation_content');
    </script>
    <script src="{{ asset('assets/js/demo/form-text-editor.js') }}"></script>
{% endblock %}