{% extends 'admin/base.html.twig' %}


{% block title %}Page Présentation{% endblock %}

{% block description %}Représente la page présentation de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Votre page présentation à bien été mise à jour.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            <p>Vous pouvez modifier les éléments de votre page de présentation</p>
            <div class="col-sm-12">
                <button id="demo-edit-text" class="btn btn-primary" type="button">Modifier</button>
                <button id="demo-test-text" class="btn btn-primary" type="button" style="display: none">Tester</button>
                <button id="demo-save-text" class="btn btn-success pull-right" type="submit" style="display: none">
                    Enregistrer
                </button>
                <button id="demo-revert-text" class="btn btn-danger pull-right margin-right-10" type="button"
                        style="display: none">
                    Annuler
                </button>
            </div>

            <div class="col-sm-12">
                <hr/>
            </div>

            <!--Summernote-->
            <!--===================================================-->
            <div class="col-sm-12">
                <div id="summernote-edit">
                    {{ site.presentation.content | raw }}
                </div>
            </div>
            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right margin-right-10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        var originalContent=$('#presentation_originalContent');
        var itemContent=$('#presentation_content');
    </script>
    <script src="{{ asset('assets/js/demo/form-text-editor.js') }}"></script>
{% endblock %}