{% extends 'admin/base.html.twig' %}


{% block title %}Page Contact{% endblock %}

{% block description %}Représente la page contact de votre site{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Parfait !</strong> Votre page présentation à bien été mise à jour.
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Formulaire de contact</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.presentation) }}</label>
                        <div>
                            {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Adresse postale</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.name) }}</label>
                        <div>
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.postCode) }}</label>
                        <div>
                            {{ form_widget(form.postCode, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.city) }}</label>
                        <div>
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.country) }}</label>
                        <div>
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Vous contacter</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.phone) }}</label>
                        <div>
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">{{ form_label(form.email) }}</label>
                        <div>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><label class="control-label">Horaires d'ouverture</label></h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <label class="control-label"  style="text-align:left;">{{ form_label(form.openingTime) }}</label>
                        <div>
                            {{ form_widget(form.openingTime, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <hr/>
            </div>
            <div class="col-sm-12">
                <button id="form-submit" class="btn btn-success pull-right" type="submit">
                    Enregistrer
                </button>
                <button id="form-revert" class="btn btn-danger pull-right mr10" type="button">
                    Annuler
                </button>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}